{{ define "main" }}

<div class="container">
  <!-- begin page -->
  <article class="page">

    <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="page__title">{{ .Title }}</h1>
      {{ if .Params.image }}
      <div class="page-image" style="background-image: url({{ .Params.image | relURL }})"></div>
      {{ end }}
    </div>

    <div class="page__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
      {{ .Content }}
    </div>

  </article>
  <!-- end page -->
</div>
{{ end }}