<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}

    
    <body>
        {{ template "_internal/google_analytics.html" . }}

        {{- partial "header.html" . -}}
        
        <!-- begin content -->
        <div id="content" aria-label="Content">
        {{- block "main" . }}{{- end }}
        </div>
        <!-- end content -->

        {{- partial "footer.html" . -}}

        <!-- begin js -->
        
        {{- partial "scripts.html" . -}}

        <!-- end js -->
    </body>
</html>